/* You can add global styles to this file, and also import other style files */
@import './themes.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.textbox {
  width: 50%;
  border: 0.5px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
}
